# Ignore venv folder
venv*/

# Ignore content of data folders
output/*
!output
data/*
!data
archive

# Ignore file with credentials
madrase-questionnaire-july-22-51ed22398a1d.json

# ignore hidden files
.*
!/.gitignore
