# Ignore venv folder
venv*/

# local archive
archive

# Ignore all hidden files and directories
.*

# Recursively ignore content of all data subfolders
data/**/
!data/.gitkeep

# Do not ignore a special file name
!**/.gitkeep

# Ignore file with credentials
madrase-questionnaire-*.json

**/__pycache__/